*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    text-align: center;
    background-color: rgb(222, 195, 195);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    margin-top: 15rem;
    color: blueviolet;
}
button{
margin-top: 2rem;
   font-size: 2rem;
  padding: 0rem;
  width: 8rem;
  height: 3rem;
border-radius: 2rem;
cursor: pointer;
color: white;
border: none;
}
button:hover{
    padding: 0.6rem;
}
#stop{
    background-color: green;
}
#start{
    background-color: brown;
}
